---
title: Field Notes on Resonance and The Internet on and around the Body
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
      html {
        font-family: sans-serif;
        font-size: 12pt;
        font-weight: lighter;
      }
      html, body {
        margin: 0;
        padding: 0;
      }
      body {
        max-width: 42rem;
        margin: 3rem auto 5rem auto;
      }
      h1, h2, h3, h4, h5, h6 {
        font-weight: bolder;
        font-family: 'Times New Roman', Times, serif;
        color: #424242;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Field Notes on Exploring Resonant Internet of Things on and around the Body</h1>
      <nav>
        <a href="/">home</a>
        <a href="/posts">posts</a>
        <a href="/notes">notes</a>
        |
        <a href="https://opendott.org/self" target="blank" rel="noopener noreferrer">OpenDoTT</a>
        <a href="https://github.com/jens-a-e" target="_blank" rel="noopener noreferrer">GitHub</a>
        <a href="https://twitter.com/maschinentexte" target="_blank" rel="noopener noreferrer">Twitter</a>
      </nav>
    </header>
    {{ content | safe }}
  </body>
</html>